@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 0px;
}

/* *::-webkit-scrollbar-track {
  width: 10px;
  background: #0f0f0f;
}

*::-webkit-scrollbar-thumb {
  background-color: #eeeeee;
} */
